name: ci

on:
  push:
    branches:
      - "main"

jobs:
  docker:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        # Локальный билд на self-hosted runner (300 ГБ)
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: "${{ vars.DOCKER_USER }}/worker-sdxl:latest"
          target: final
          # Кэширование слоёв в Docker Hub Registry
          cache-from: type=registry,ref=${{ vars.DOCKER_USER }}/worker-sdxl:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKER_USER }}/worker-sdxl:buildcache,mode=max
